.content-fudiapp-container {
    padding-top: 50px;
    background-color: f7f7f7;
    .p-page-fudiapp {
      .p-image-backg {
        .img-image-backg {
          position: absolute;
          top: 20%;
          width: 76%;
          height: 78%;
          left: 15%;
        }
      }
      .p-text-fudi {
          margin-left: 50px;
        .fudi-title {
            margin-top: 50px;
            margin-bottom: 20px;
           
          .heading-3 {
            font-family: "Lato";
            font-size: 18px;
            text-transform: uppercase;
            color: $cl-bl-style;
            font-weight: bold;
          }
          &:after {
              content: "";
              width: 90px;
              height: 1px;
              background-color: #f57365;
              position: absolute;
              left: 12%;
              border-radius: 100%;
            }
        }
        .fudi-text{
            .fudi-text{
                font-family: 'Lato';
                font-size: 16px;
                color: $cl-bl-style;
                margin-bottom: 20px;
            }
        }
      }
    }
  }
  