.dot-bottom {
  position: relative;
  &:after {
    content: "";
    width: 90px;
    height: 2px;
    background-color: #f57365;
    position: absolute;
    border-radius: 100%;
    left: 50%;
    bottom: -5px;
    @include transform(translate(-50%, 0));
  }
  &.left {
    &:after {
      left: 0%;
      @include transform(translate(0%, 0));
    }
  }
}
.content-choose-container {
  padding: 50px 0;
  background-color: #fff;
  .p-page-choose {
    // background-color: $bc-w-style;
    .choose-social {
      .p-icon {
        width: 100px;
        height: 100px;
        border: 2px solid #000;
        border-radius: 100%;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        margin-left: 36%;
        margin-bottom: 20px;
        .icon-image {
          position: absolute;
        }
      }
      .p-title {
        margin-bottom: 20px;
        .heading-3 {
          position: relative;
          font-family: "Lato";
          @include rem("font-size", 18);
          text-transform: uppercase;
          font-weight: bold;
          color: $cl-bl-style;
        }
      }
      .p-text {
        margin: 0 20px;
        .text-text {
          @include rem("font-size", 16);
          font-family: "Lato";
        }
      }
    }
  }
}
