.footer-container{
    background-color: $bc-ft-style; 
    .p-page-footer{
        padding: 26px 0;
        .p-footer-left{
            .heading-6{
                color: $cl-h6-style;
                font-size: 13px;
            }
        }
        .p-footer-right{
        text-align: right;
        .heading-6{
            color: $cl-h6-style;
            text-transform: uppercase;
            font-size: 13px;
            letter-spacing: 0.2rem;
            span{
                color: $cl-sp-style;
            }
        }
        }
    }
}