<section class="banner-container">
  <div class="p-page-banner">
    <img src="../../images/background-banner-top.png" alt="" width="100%">
    <div class="p-banner-text text-center">
      <h5 class="heading-5">Find your Favorite</h5>
      <div class="title">
        <h2 class="heading-2">recipes</h2>
      </div>
      <div class="btn-start">
        <button>get started</button>
      </div>
      <div class="text">
        <p class="pp-text">or send us your own recipes and <a href="@" class="link-text">get rewarded!</a></p>
      </div>
    </div>
  </div>
</section>
