<section class="content-fudiapp-container">
    <div class="container">
        <div class="p-page-fudiapp wow fadeInDown" data-wow-delay="1s" data-wow-duration="1s">
            <div class="row">
                <div class="col-lg-6">
                    <div class="p-image">
                        <img class="img-image" src="../../images/iphone5.png" alt="" width="100%">
                        <div class="p-image-backg">
                            <img class="img-image-backg" src="../../images/Nav bar - Green.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-text-fudi">
                        <div class="fudi-title">
                            <h3 class="heading-3 dot-bottom left">introducing the fudi app</h3>
                        </div>
                        <div class="fudi-text">
                            <p class="fudi-text text-1">Morbi eget posuere dolor. Pellentesque cursur aliquet. Aeneanet felis
                                sit amet diam mollis ullamcorper. Nullam consequat sem a ante vest ibulum tristique. Suspendisse
                                tristique lacus ac mattis porta.
                            </p>
                            <p class="fudi-text text-2"> Vivamus ligula quam, vehicula non lacinia sed, faucibus sit amet
                                libero. In libero dui, eleifend eu nisi id, egestas fringilla odio. In varius quam a mas
                                sa hendrerit ullamcorper a eu justo. Suspendisse porta mattis convallis. Aenean tempus ligula
                                ac odio rhoncus, quis aliquam dolor accumsan. </p>
                            <p class="fudi-text text-3">
                                Suspendisse aliquet felis consectetur libero congue, sed pulvinar diam malesuada. Duis vehicula a nibh id hendrerit. Donec
                                sit amet ultrices ante, a mattis massa.
                            </p>
                        </div>
                        <div class="fudi-app">
                            <img src="../../images/app-store.png" alt="">
                            <img src="../../images/ch-play.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>