<section class="content-choose-container wow fadeInDown" data-wow-delay="1s" data-wow-duration="1s">
    <div class="container">
        <div class="p-page-choose">
            <div class="row">
                <div class="col-lg-4">
                    <div class="choose-social text-center">
                        <div class="p-icon">
                            <img class="icon-image" src="../../images/icon-eat.png" alt="">
                        </div>
                        <div class="p-title">
                            <h3 class="heading-3 dot-bottom">get inspired</h3>
                        </div>
                        <div class="p-text">
                            <p class="text-text">
                                Lorem ipsum sit admet, consetetur adipisc Pellentesque vel enim a elit elementuma. Aliquam erat volutpat.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="choose-social text-center">
                        <div class="p-icon">
                            <img class="icon-image" src="../../images/icon-money.png" alt="" >
                        </div>
                        <div class="p-title">
                            <h3 class="heading-3 dot-bottom">get rewarded</h3>
                        </div>
                        <div class="p-text">
                            <p class="text-text">
                                Lorem ipsum sit admet, consetetur adipisc Pellentesque vel enim a elit elementuma. Aliquam erat volutpat.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="choose-social text-center">
                        <div class="p-icon">
                            <img class="icon-image" src="../../images/icon-chef.png" alt="">
                        </div>
                        <div class="p-title">
                            <h3 class="heading-3 dot-bottom">get social</h3>
                        </div>
                        <div class="p-text">
                            <p class="text-text">
                                Lorem ipsum sit admet, consetetur adipisc Pellentesque vel enim a elit elementuma. Aliquam erat volutpat.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>