<section class="counter-container">
    <div class="container">
        <div class="fake-div">
        </div>
        <div class="row" id="counter">
            <div class="p-number wow fadeInDown" data-wow-delay="1s" data-wow-duration="1s">
                <p class="counter-value" data-count="23.567">0</p>
                <h4 class="heading-4">Recipes Available</h4>
            </div>
            <div class="p-number wow fadeInDown"data-wow-delay="1s" data-wow-duration="1s" >
                <p class="counter-value" data-count="431.729">0</p>
                <h4 class="heading-4">Active Uses</h4>
            </div>
            <div class="p-number wow fadeInDown" data-wow-delay="1s" data-wow-duration="1s">
                <p class="counter-value" data-count="892.173">0</p>
                <h4 class="heading-4">Positive Review</h4>
            </div>
            <div class="p-number wow fadeInDown"data-wow-delay="1s" data-wow-duration="1s" >
                <p class="counter-value" data-count="56.581">0</p>
                <h4 class="heading-4">Photo & Videos</h4>
            </div>
            <div class="p-number wow fadeInDown" data-wow-delay="1s" data-wow-duration="1s" >
                <p class="counter-value" data-count="3.182">0</p>
                <h4 class="heading-4">Spices and Herbs</h4>
            </div>

           
        </div>
    </div>
</section>