<section class="slider-container" id="wrap">
    <div class="p-slider">
        <img class="img-backg" src="../../images/blue.png" alt="">
        <div class="caption-item">
            <div class="p-img-person">
                <img class="img-person" src="../../images/person.png" alt="">
            </div>
            <div class="p-text-person">
                <p class="text-person">"I'm so happy because i found this recipe, and it just made my life easier.<br> Thanks
                    so much for sharing!"</p>
            </div>
            <div class="p-sp-person">
                    <span class="sp-person">-Michael Dawson, San Francisco, CA-</span>
            </div>
        </div>
    </div>
    <div class="p-slider">
        <img class="img-backg" src="../../images/green.png" alt="">
        <div class="caption-item">
            <div class="p-img-person">
                <img class="img-person" src="../../images/person.png" alt="">
            </div>
            <div class="p-text-person">
                <p class="text-person">"I'm so happy because i found this recipe, and it just made my life easier.<br> Thanks
                    so much for sharing!"</p>
            </div>
            <div class="p-sp-person">
                    <span class="sp-person">-Michael Dawson, San Francisco, CA-</span>
            </div>

        </div>
    </div>
    <div class="p-slider">
        <img class="img-backg" src="../../images/tim.png" alt="">
        <div class="caption-item">
            <div class="p-img-person">
                <img class="img-person" src="../../images/person.png" alt="">
            </div>
            <div class="p-text-person">
                <p class="text-person">"I'm so happy because i found this recipe, and it just made my life easier.<br> Thanks
                    so much for sharing!"</p>
            </div>
            <div class="p-sp-person">
                    <span class="sp-person">-Michael Dawson, San Francisco, CA-</span>
            </div>

        </div>
    </div>
</section>