<footer class="footer-container">
  <div class="container">
    <div class="p-page-footer">
      <div class="row">
        <div class="col-lg-6">
          <div class="p-footer-left">
            <h6 class="heading-6">©2014Fudi.All Righ2ts Reserved.</h6>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-footer-right">
            <h6 class="heading-6">design by: <span>www.bekades.com</span></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>