<header class="header-container" id="p-page-header">
  <div class="container">
    <div class="p-page-header">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 ">
          <div class="p-logo">
            <a href="@"><img src="../../images/logo.png" alt="" width="100px"></a>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="p-menu">
            <ul>
              <li class="item-menu"><a href="@" class="link-menu">login in</a></li>
              <li class="item-menu"><a href="@" class="link-menu">sign up</a></li>
              <li class="item-menu"><a href="@" class="link-menu"><i class="fas fa-bars"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>